* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .logo {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 10px 20px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar li {
    font-size: 16px;
    cursor: pointer;
  }
  
  .navbar li:hover {
    text-decoration: underline;
  }
  
  .navbar button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar button:hover {
    background-color: gray;
  }
  
  .container {
    position: relative;
    height: 80vh;
    width: 100%;
  }
  
  .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text {
   position: absolute;
    bottom: 200px;
    left: 50px;
    color: white;
    font-family: "Arial", sans-serif;
  }
  
  .button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .text button:hover {
    background-color: gray;
  }