* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .logo {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 10px 20px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar li {
    font-size: 16px;
    cursor: pointer;
  }
  
  .navbar li:hover {
    text-decoration: underline;
  }
  
  .navbar button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar button:hover {
    background-color: gray;
  }
  
  .herocontainer {
    position: relative;
    height: 80vh;
    width: 100%;
  }
  
  .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text {
   position: absolute;
    bottom: 200px;
    left: 50px;
    color: white;
    font-family: "Arial", sans-serif;
  }
  
  .button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .text button:hover {
    background-color: gray;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(250, 235, 215, 0.211);
    width: 80%;
    max-width: 1000px;
    height: 350px;
    margin: 20px auto;   
  }

  .paragraph{
    display: block;
    position: absolute;
    right: 50%; 
    padding: 20px;
    font-size: smaller;
  }

  .paragraph p{
    margin-top: 20px;
    margin-bottom: 20px; 
  }

  .image{
   position: absolute; 
    left:50%; 
  }

  .image img{
    max-width: 100%;
    height: 340px;
  }

  .container2{
    width: 100%;
    height: 100px;
    background-color: black ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .items{
    display: block;

  }
  
  .number{
    color: yellow;
  }

  .texts{
    color: white;
  }


  .container3{
    width: 80%;
    max-width: 1000px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    margin: 20px auto;
  }

