* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }

  .logo img{
    height: 40px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 10px 20px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar li {
    font-size: 16px;
    cursor: pointer;
  }
  
  .navbar li:hover {
    text-decoration: underline;
  }
  
  .navbar button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar button:hover {
    background-color: gray;
  }
  
  .herocontainer {
    position: relative;
    height: 80vh;
    width: 100%;
  }
  
  .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text {
   position: absolute;
    bottom: 200px;
    left: 50px;
    color: white;
    font-family: "Arial", sans-serif;
  }
  
  .button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .text button:hover {
    background-color: gray;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(128, 128, 128, 0.074);
    width: 80%;
    max-width: 1000px;
    height: 350px;
    margin: 20px auto; 
    border: 1px solid gray;  
  }

  .paragraph{
    display: block;
    position: absolute;
    right:50%;
    padding: 20px;
    font-size: smaller;
    font-family: "Arial", sans-serif;
  }

  .paragraph p{
    margin-top: 20px;
    margin-bottom: 20px; 
  }

  .image{
   position: absolute; 
   left:50%;  
  }

  .image img{
    max-width: 100%;
    height: 340px;
  }

  .container2{
    width: 100%;
    height: 100px;
    background-color: black ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .items{
    text-align: center;
    padding: 0 20px;
    position: relative;
  }

  .number{
    color: goldenrod;
    padding-bottom: 20px;
  }

  .texts{
    color: white;
    font-size: medium;
  }

  .vl{
    border-left: 1px solid gray;
  }


  .container3{
    width: 80%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-self: center;
    border: 1px solid gray;
    background-color:rgba(128, 128, 128, 0.074);
    margin-top: 20px;
  }

.block2{
  display: block;
  width: 100%;
  height: 1px;
  margin-left: 10px;
}

.forimage{
 width: 80%;
 height: 80%;
}

.subblock{
  display: block;
}

.logotext{
  display: flex;
  padding: 10px;
}

.logotext a{
  display: flex;
  color: black;
  text-decoration: none;
}

.forheading{
  padding: 10px;
}

.material-symbols-outlined{
  color: goldenrod;
  padding-right: 10px;
}

.container4{
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.all-items{
  display: flex;
}

.item{
  display: flex;
  border: 1px solid gray;
  background-color:rgba(128, 128, 128, 0.074);
  margin: 15px;
}

.block2-img img{
  width: 100%;
  padding: 5px;
}

.block3-img img{
  width: 100%;
  padding: 5px;
}

.block4-img img{
  width: 100%;
  padding: 5px;
} 

.describe{
  padding: 20px;
}

.describe h3{
  color: gray;
}

.describe p{
  font-size: smaller;
  padding-top: 10px;
  margin-bottom: 10px;
}

.describe a{
  color: black;
  text-decoration: none;
}

.Cardcontainer{
  display: flex;
  justify-self: center;
  align-items: center;
  width: 70%;
}

.card{
  display: flex;
}

.subcard img{
  width: 100%;
  height: 50%;
}

.cardtext{
  margin: 20px;
}

.cardtext p{
  margin-top: 20px;
  margin-bottom: 30px;
}

.cardtext a{
  color: black;
  text-decoration: none;
  font-size: larger;
}

.vertical{
  border-left: 2px solid gray;
}

.container5{
  display: flex;
  justify-self: center;
  width: 80%;
  max-width: 1000px;
  margin-top: 20px;
  border: 1px solid gray;
}

.Imagetext{
  display: flex;
}

.subtext{
  background-color:rgba(128, 128, 128, 0.074);
}

.Onlytext{
  margin: 20px;
  padding: 5px;
}

.Onlytext h3{
  color: gray;
  margin-bottom: 10px;
}

.Background-Container{
  position: relative;
  margin-top: 20px;
}

.BackgroundImg{
  width: 100%;
  height: 170px;
}

.Textbutton{
 position: absolute;
 justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: center;
  top: 60px;
  padding: 0 150px;
}

.Textbutton h2{
  color: white;
}

.Textbutton button{
  padding: 10px;
  font-size: medium;
  color: goldenrod;
  background-color: transparent;
  border: 2px solid goldenrod;
}

.main{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.074);
}

.forlogo img{
  width: 140px;
}

.row{
  display: flex;
  margin-bottom: 20px;
  margin-left: 100px;
}

.row h3{
  margin: 10px;
}

.row ul{
  list-style: none;
}

.row li{
  padding: 2px;
  color: gray;
  margin: 10px;
}

.footersubdiv{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 50px;
}

.Newsletter{
  margin-top: 10px;
  margin-right: 140px;
}

.Newsletter input{
  margin-top: 6px;
  padding: 5px;
  padding-right: 50px;
  color: gray;
}

.bottom{
  background-color: black;
}

.Copyright{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 15px;
}

.Copyright p{
  color: gray; 
}
